@page "/products"

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddProductModal">
    Запустить модальное окно
</button>

<table class="table table-hover w-50 table-sm">
    <thead class="thead-light">
        <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Количество стёкол</th>
            <th scope="col">Высота</th>
            <th scope="col">Ширина</th>
            <th scope="col">Вес</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pos in products)
        {
        <tr>
            <td>@pos.ProductName</td>
            <td>@pos.NumberOfGlasses</td>
            <td>@pos.Heght</td>
            <td>@pos.Width</td>
            <td>@pos.Weight</td>
            <td><button class="btn btn-outline-secondary" @onclick="(()=>DeleteProduct(pos))"><i class="oi oi-account-login" title="icon name" aria-hidden="true"></i></button></td>
        </tr>
        }
    </tbody>
</table>

<ElinCoureseProjectClient.Pages.Markup.ModalWindowMarkup.AddProductModal />

@code {
    protected override async Task OnInitializedAsync()
    {
        products = await Data.GrpcClient.GetObjectList(Data.ObjectType.Product) as List<CPS.Products>;
        Data.GrpcClient.StateChanged += OnStateChanged;
        StateHasChanged();
    }
    private void DeleteProduct(CPS.Products products)
    {
        Data.GrpcClient.DeleteObject(products.ProductID, Data.ObjectType.Product);
    }
    private async void OnStateChanged(object sender, EventArgs arg)
    {
        products = await Data.GrpcClient.GetObjectList(Data.ObjectType.Product) as List<CPS.Products>;
        await InvokeAsync(() => StateHasChanged());
    }
    List<CPS.Products> products = new List<CPS.Products>();
}
