<div class="modal fade" id="StaffModal" tabindex="-1" role="dialog" aria-labelledby="TwoColumnModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="StaffModalLable">Новый сотрудник</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="passport">Паспорт</span>
                        </div>
                        <input type="text" class="form-control" aria-label="staffName" aria-describedby="passport" @bind-value="@staff.Passport">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="staffSecondName">Фамилия</span>
                        </div>
                        <input type="text" class="form-control" aria-label="staffName" aria-describedby="staffSecondName" @bind-value="@staff.SecondName">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="staffName">Имя</span>
                        </div>
                        <input type="text" class="form-control" aria-label="staffName" aria-describedby="FirstColemnName" @bind-value="@staff.Name">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="staffMiddleName">Отчество</span>
                        </div>
                        <input type="text" class="form-control" aria-label="staffName" aria-describedby="staffMiddleName" @bind-value="@staff.MiddleName">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="BDate">Дата рождения</span>
                        </div>
                        <input type="text" class="form-control" aria-label="staffName" aria-describedby="BDate" @bind-value="@BDate">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="Experience">Пол</span>
                            </div>
                            <select class="form-control" id="exampleFormControlSelect1" style="width: 100%" @bind="@staff.Gender">
                                <option></option>
                                @foreach (var gen in Genders)
                                {
                                    <option value="@gen">@gen</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="Experience">Опыт</span>
                        </div>
                        <input type="text" class="form-control" aria-label="staffName" aria-describedby="Experience" @bind-value="@staff.Experience">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="Experience">Отдел</span>
                            </div>
                            <select class="form-control" id="exampleFormControlSelect1" style="width: 100%" @bind="@staff.Department">
                                <option></option>
                                @foreach (var dep in departments)
                                {
                                    <option value="@dep.DepartmentID">@dep.Department</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="Experience">Должность</span>
                            </div>
                            <select class="form-control" id="exampleFormControlSelect1" style="width: 100%" @bind="@staff.Position">
                                <option></option>
                                @foreach (var pos in positions)
                                {
                                    <option value="@pos.PositionID">@pos.Position</option>
                                }
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="@(() => Save())">Сохранить</button>
            </div>
        </div>
    </div>
</div>

@code{
  private CPS.Staff staff = new CPS.Staff();
  private List<CPS.Departments> departments = new List<CPS.Departments>();
  private List<CPS.Positions> positions = new List<CPS.Positions>();

  private List<string> Genders = new List<string>()
  {
      "Муж", "Жен"
  };

  protected override async Task OnInitializedAsync()
  {
      departments = await Data.GrpcClient.GetObjectList(Data.ObjectType.Depatment) as List<CPS.Departments>;
      positions = await Data.GrpcClient.GetObjectList(Data.ObjectType.Position) as List<CPS.Positions>;
  }

  private void Save()
  {
      staff.DateOfReceipt = DateTime.Now.Ticks;
      var dep = departments.Where(x => x.DepartmentID.ToString() == staff.Department).FirstOrDefault();
      dep.NumberOfEmployees++;
      Data.GrpcClient.UpdateObject(dep, Data.ObjectType.Depatment);
      Data.GrpcClient.AddObject(staff, Data.ObjectType.Staff);
  }

  private string BDate
  {
      get { return new DateTime(_date).ToShortDateString(); }
      set
      {
          var partsOfDate = value.Split('.');
          var Date = new DateTime(Convert.ToInt32(partsOfDate[2]),
              Convert.ToInt32(partsOfDate[1]),
              Convert.ToInt32(partsOfDate[0]));
          staff.BDate = _date = Date.Ticks;
      }
  }
  long _date;
}